/*common*/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: "ヒラギノ明朝 Pro W6", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", serif;
	background-color: #f7f6f5;
	color:#504946;
}

a{
	text-decoration: none;
	color:#504946;
}

a:hover{
	color: #898989;
}

.clearfix::after{
	content: "";
	clear: both;
	display: block;
}

.background-attachment{
	width: 100%;
	height: 120px;
	background-image: url(../img/grayfloral.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

/*header*/

.page-header{
	width: 100%;
	position: absolute;
    z-index: 9999;
	background-color: #fff;
	opacity: 0.9;
}

.page-header.sticky{
	position: fixed;
	margin: -120px auto;
}

.header-inner{
	width: 100%;
	height: 55px;
    margin: 0 auto;
    -webkit-box-shadow: 0 0 1px #666;
	box-shadow: 0 0 1px #666;
}

.site-title{
    position: absolute;
    left: 10%;
    float: left;
    line-height: 55px;
}

nav{
/*    width: 80%;*/
    height: 55px;
    position: absolute;
    right: 10%;
    text-align: center;
    z-index: 999999;
	color: #4e454a;
}

.menu-container-pc{
	display: none;
}

.menu-container-pc ul{
	line-height: 55px;
   	height: 55px;
	list-style-type: none;
}

.menu-container-pc li{
	width: 80px;
   	float: left;
	display: inline-block;
	margin: 0 0 0 20px;
}

.menu-container-pc a{
	text-decoration: none;
	-webkit-transition: 0.3s ease-in-out;
 　 -moz-transition: 0.3s ease-in-out;
　  -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.menu-container-sp{
	width:100%;
	position: relative;
}

.menu-button-sp{
	position: absolute;
	top: 3px;
	right: 5%;
	padding: 10px;
}

.menu-list-box{
	display: none;
	width: 100%;
	height: 220px;
	position: absolute;
	top: 55px;
	right: 0;
	text-align: center;	
	background-color: #fff;	
}

.menu-list-box ul{
	list-style-type: none;
}

.menu-list-box li{
	height: 55px;
	line-height: 55px;
	border-top: solid 0.5px #fff;
}


	main{
		width: 100%;
	/*	margin: 0 auto;*/
	}

	h1{
		margin: 0 auto;
	}

	.container{
		padding: 20px 0px;
	}

	.section-title{
		background-color: #eee7e0;
		padding: 5px 0;
	}

/*main-img*/

#main-img{
	position: relative;
	width: 100%;
	height: 500px;
	background-image: url(../img/pexels-photo.jpg);
	background-size: cover;
	background-position: center;
	margin-top: 55px;
}

.main-text{
	position: absolute;
	top: 25%;
	left: 10%;
	font-family: 'Tangerine', cursive;
	font-size: 32px;
	color: #fff;
}

/*common*/

.wrapper{
	width: 100%;
	margin: 0 auto;
}

.section-title{
	font-family: 'Tangerine', cursive;
	font-size: 32px;
	text-align: center;
	color: #7b5544;
}

.section-text{
	margin: 40px auto 0;
	text-align: center;
	line-height: 1.8;
	font-size: 14px;
}

/*items*/


.item-container{
	width: 100%;
}

.photo-item{
	width: 33.3%;
	height: 200px;
	position: relative;
	margin: 0 auto;
	background-size: cover;
	background-position: center;
	float: left;
}

.photo-ring{
	background-image: url(../img/item/item4.jpg);
}

.photo-necklace{
	background-image: url(../img/item/item2.jpg);
}

.photo-earings{
	background-image: url(../img/item/item6.jpg);
}

/*concept*/

#concept p{
	text-align: center;
	line-height: 1.8;
	font-size: 14px;
}

/*concept*/
#concept .section-txt{
	text-align: center;
	line-height: 1.8;
	font-size: 14px;
	padding: 20px 0px;
}


/*topics*/
#topics p{
	display: inline-block;
}

#topics ul{
	width: 355px;
	margin: 0 auto;
	list-style-type: none;
}

#topics li{
	margin-bottom: 10px;
	line-height: 1.5;
}

#topics .text-ttl{
	display: inline;
	font-size: 95%;
	border-bottom: 1px solid;
}

#topics .text{
	font-size: 80%;
	padding-left: 75px; 
	padding-top: 3px;
	}

#topics .date{
	width: 70px;
	font-size: 70%;
	}


/*gift collection*/
#gift .container{
	width: 100%;
}

.collection-item{
	width: 42.5%;
	float: left;
	margin: 0 5% 10px; 
}

.collection-item:nth-child(even){
	margin-left: 0;
}

.collection-item:nth-last-of-type(-n+2){
	margin-bottom: 0;
}

.gift-photo{
	height: 180px;
	background-size: cover;
	background-position: center;
}

#gift h2{
	font-size: 12px;
	padding-left: 15px;
	padding-top: 5px;
}

#gift p{
	padding-left: 15px;
}

.gift-item1{
	background-image: url(../img/item/item2.jpg);
}

.gift-item2{
	background-image: url(../img/item/item3.jpg);
}

/*new items*/

#slider img {
	max-width: 100%;
    height: auto;
}

#pickup .container{
	padding-bottom: 0px;
}

/*info*/
#info{
	text-align: center;
}

.sns-box{
	margin-bottom: 30px;
}

#info .container h2{
	font-size: 85%;
	letter-spacing: 3px;
	margin-bottom: 15px;
}

#info .container h2::after{
	width: 150px;
	height: 5px;
	display: block;
	border-bottom: 1px solid #c9c9c4;
	margin: 0 auto;
	content: "";
	}

#info i{
	margin: 0 10px;
}

.shopping-box h3{
	width: 130px;
	background-color: #504946;
	border-radius: 10px;
	letter-spacing: 2px;
	color: #f7f6f5;
	font-size: 85%;
	margin: 0 auto 5px;
}

/*footer*/

#footer{
	position: relative;
	width: 100%;
	height: 160px;
	background-image: url(../img/grayfloral.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	opacity: 0.6;
}

small{
	position: absolute;
	bottom: 15px;
	right: 15px;
	color: #24140e;
	background-color: #fff;
	opacity: 0.7;
}


/*===============for smartphone===============*/

@media(max-width: 768px){

	

	/*items*/

	.photo-item p{
		opacity: 0;
	}

	.photo-item h4{
		width: 100%;
		position: absolute;
		top:50%;
		background-color: #fff;
		opacity: 0.6;
		text-align: center;
		letter-spacing: 3px;
	}

	.photo-txt{
		margin: 0 10px;
		text-align: center;
	}

	.photo-ring{
		background-image: url(../img/item/item4.jpg);
	}

	.photo-necklace{
		background-image: url(../img/item/item2.jpg);
	}

	.photo-earings{
		background-image: url(../img/item/item6.jpg);
	}


	/*info*/
}


/*===============for pc===============*/

@media(min-width: 769px){

/*main*/

	main{
		width: 100%;
		margin: 0 auto;
		padding: 0 10%;
	}

	section{
		padding: 50px 0 50px 0;
		margin: 0;
	}

	.container{
		width: 100%;
		margin: 0 auto;
		padding-top: 50px;
		text-align: center;
	}

	.section-title::after{
		width: 100%;
		height: 10px;
		display: block;
		border-bottom: 1px solid #c9c9c4;
		content: "";
	}

	.menu-container-pc{
		display: block;
	}

	.menu-container-sp{
		display: none;
	}

	/*item*/

	.photo-item{
		height: 250px;
	}

	#items h4{
		display:none;
	}

	.photo-item p{
		display: none;
		width: 100%;
		height: 250px;
		text-align: center;
		line-height: 250px;
		background-color: rgba(58,58,58,0.5);
		font-size: 18px;
		letter-spacing: 3px;
		color: #efefef;
	}

	/*topics*/

	#topics ul{
		width: 100%;
	}

	#topics li{
		width: 40%;
		margin: 0 5% 10px;
		float: left;
		text-align: left;
	}

	/*collection*/
	.collection-item h2,p{
		text-align: left;
	}

	/*info*/

	#info .container{
		width: 340px;
		margin: 0 auto;
	}

	.shopping-box,
	.sns-box{
		width: 150px;
		margin: 0 10px;
		float: left;

	}
		
}

